  <li >
  	  <%= arg_object.hidden_field :client_id %>
      <%= arg_object.hidden_field :phone_type %>

      <%= arg_object.hidden_field :created_by %>
      <%= arg_object.hidden_field :updated_by %>
  </li>

