
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta content="no-cache" http-equiv="Pragma" />
<meta content="no-cache" http-equiv="Cache-Control" />
<meta content="no-store" http-equiv="Cache-Control" />
<meta content="max-age=0" http-equiv="Cache-Control" />
<meta content="1" http-equiv="Expires" />
<title>Work Readiness Assessment Worksheet (Customer ID: 1254)</title>
<script type="text/javascript" src="/owra/theme/com/sun/rave/web/ui/defaulttheme/javascript/formElements.js"></script>
<link rel="stylesheet" type="text/css" href="/owra/theme/com/sun/rave/web/ui/defaulttheme/css/css_master.css" />

<script type="text/javascript">
var sjwuic_ScrollCookie = new sjwuic_ScrollCookie('/pages/reportPrint/AssmtWorksheet.jsp', '/owra/faces/pages/reportPrint/AssmtWorksheet.jsp');
</script>
<link id="j_id_id5" rel="stylesheet" type="text/css" href="../../../resources/css/stylesheet.css" />
<link id="j_id_id6" rel="stylesheet" type="text/css" href="../../../resources/css/fip_stylesheet.css" />
<link id="j_id_id7" rel="stylesheet" type="text/css" href="../../../resources/css/assessment.css" />
</head>
<html xmlns="http://www.w3.org/1999/xhtml">
<body id="body1" style="-rave-layout: grid">

<form id="j_id_id10" name="j_id_id10" method="post" action="/owra/faces/pages/reportPrint/AssmtWorksheet.jsp" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="j_id_id10" value="j_id_id10" />
<input value="" name="csrf" type="hidden" /><table border="0" style="background-color:#F0F8FF" width="100%" cellpadding="0" cellspacing="0"><tr><td align="left" width="75%"><p align="left"><img alt="Online Work Readiness Assessment OWRA" src="../../../resources/images/owra_logo.gif" border="0" /><br /></p></td><td valign="top" align="right" width="15%"><a href="http://www.acf.hhs.gov/"><img alt="Department of Health and Human Services.USA" align="left" src="../../../resources/images/HHS_logo2.jpg" border="0" /></a></td></tr></table><div style="margin-bottom:20px;" align="left"><table cellpadding="0" cellspacing="0" align="center" border="0"><tr><td align="right" width="75%" class="title01">CUSTOMER OVERVIEW</td><td width="10%" /><td><br /><br /><br /></td></tr></table></div><head>
<meta content="no-cache" http-equiv="Pragma" />
<meta content="no-cache" http-equiv="Cache-Control" />
<meta content="no-store" http-equiv="Cache-Control" />
<meta content="max-age=0" http-equiv="Cache-Control" />
<meta content="1" http-equiv="Expires" />
<title>Customer Overview</title>
<script type="text/javascript" src="/owra/theme/com/sun/rave/web/ui/defaulttheme/javascript/formElements.js"></script>
<link rel="stylesheet" type="text/css" href="/owra/theme/com/sun/rave/web/ui/defaulttheme/css/css_master.css" />

<script type="text/javascript">
var sjwuic_ScrollCookie = new sjwuic_ScrollCookie('/pages/reportPrint/AssmtWorksheet.jsp', '/owra/faces/pages/reportPrint/AssmtWorksheet.jsp');
</script>
</head>








<table border="0" width="94%" cellpadding="0" cellspacing="0" align="center" style="margin-bottom:20px;" xmlns:ass="http://com.icfi.owra/Assessment" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:wks="http://com.icfi.owra/AssessmentWorksheet" xmlns:cus="http://com.icfi.owra/Customer">
<tr>
<td width="45%">
<fieldset class="borderStyle" style="margin-left:10px; margin-right:10px;" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://www.sun.com/web/ui">
<legend><span class="textH201">Customer</span></legend>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tr>
<td align="right" valign="top" class="label01 printL">Date of intake: </td><td class="printL">01/
                        03/
                        2014</td>
</tr>
<tr>
<td align="right" valign="top" class="label01 printL">Status:</td><td class="printL">In Progress</td>
</tr>
<tr>
<td align="right" valign="top" nowrap="true" class="label01 printL">Customer:
                        <br>ID:
                    </td><td>
<table width="100%" style="position:relative;left:-5px;top:-3px;">
<tr>
<td width="55%" align="left" class="printL">John&nbsp;
                                    Boo<br>1254</td><td width="15%" align="right" valign="top" class="label01 printL">Age: </td><td align="left" valign="top" class="printL">0</td><td width="15%" align="right" valign="top" class="label01 printL">Gender: </td><td align="left" valign="top" class="printL">F</td>
</tr>
</table>
</td>
</tr>
<tr>
<td width="140" align="right" valign="top" class="label01 printL">Two Parent Family:</td><td class="printL">
                                    No
                            </td>
</tr>
<tr>
<td width="140" align="right" valign="top" class="label01 printL">Case Manager:</td><td class="printL">test test</td>
</tr>
</table>
</fieldset>
</td><td width="55%"></td>
</tr>
</table><table border="0" width="94%" align="center" style="margin-bottom:20px;">
<tr>
<td>
<fieldset class="borderStyle" style="margin-left:10px; margin-right:10px;">
<legend><span class="textH201">Household Composition</span></legend>
<table cellpadding="5" cellspacing="5" width="100%">
<tr>
<td class="printL">
                                            No additional household members
                                        </td>
</tr>
</table>
<div class="footerFont printL" style="padding-left:20px; padding-bottom:5px;">
<br>
</div>
</fieldset>
</td>
</tr>
</table><table border="0" width="94%" align="center" style="margin-bottom:20px;">
<tr>
<td>
<fieldset class="borderStyle" style="margin-left:10px; margin-right:10px;">
<legend><span class="textH201">Finances</span></legend>
<table border="0" cellpadding="5" cellspacing="5" width="100%">
<tr>
<td width="47%">
<table>
<tr>
<td width="50%" class="label01 printL" align="left">Child Care:</td><td align="left" class="printL">$ paid per month for child care</td>
</tr>
<tr>
<td align="left" class="label01 printL">Housing:</td><td align="left" class="printL">$ paid per month for housing</td>
</tr>
<tr>
<td align="left" class="label01 printL">Child Support:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Has Medicaid Benefits:</td><td align="left" class="printL">
                                                            No
                                                        </td>
</tr>
<tr>
<td align="left" class="label01 printL">Student Scholarship/Grants:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">TANF:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Has Bank Account:</td><td align="left" class="printL">No</td>
</tr>
<tr>
<td align="left" class="label01 printL">Used High Interest Loans:</td><td align="left" class="printL">No</td>
</tr>
<tr>
<td align="left" class="label01 printL">Interested in Learning Money Management Skills:</td><td align="left" class="printL">Yes</td>
</tr>
</table>
</td><td width="6%"></td><td width="47%">
<table>
<tr>
<td width="50%" class="label01 printL" align="left">Child Care Benefits:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Housing Benefits:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Supplemental Nutrition Assistance Program (SNAP):</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Supplemental Security Income:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Transportation Benefits:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Veterans Benefits:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Other Non-monetary Governmental Benefits:</td><td align="left" class="printL">$ received per month</td>
</tr>
<tr>
<td align="left" class="label01 printL">Had Difficulty Paying Bills:</td><td align="left" class="printL">No</td>
</tr>
<tr>
<td align="left" class="label01 printL">Handling of Personal Finances:</td><td align="left" class="printL">Fair</td>
</tr>
</table>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
</table>

<head>
<meta content="no-cache" http-equiv="Pragma" />
<meta content="no-cache" http-equiv="Cache-Control" />
<meta content="no-store" http-equiv="Cache-Control" />
<meta content="max-age=0" http-equiv="Cache-Control" />
<meta content="1" http-equiv="Expires" />
<title>Strengths And Barriers</title>
<script type="text/javascript" src="/owra/theme/com/sun/rave/web/ui/defaulttheme/javascript/formElements.js"></script>
<link rel="stylesheet" type="text/css" href="/owra/theme/com/sun/rave/web/ui/defaulttheme/css/css_master.css" />

<script type="text/javascript">
var sjwuic_ScrollCookie = new sjwuic_ScrollCookie('/pages/reportPrint/AssmtWorksheet.jsp', '/owra/faces/pages/reportPrint/AssmtWorksheet.jsp');
</script>
</head>








<table border="0" width="94%" cellspacing="0" cellpadding="0" align="center" style="margin-bottom:15px;" xmlns:ass="http://com.icfi.owra/Assessment" xmlns:wks="http://com.icfi.owra/AssessmentWorksheet">
<tr>
<td width="100%">
<fieldset class="borderStyle">
<legend><span class="textH201">Employment Strengths</span></legend>
<table width="100%" align="center" style="margin-bottom:20px;">
<tr>
<td>
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL">Experience (Experience):
                        </span></legend>
<table width="100%" align="center">
<tr>
<td>
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL">Work Experience In:</span></legend>
<table>
<tr>
<td align="left">
<ul>
<li>
<span class="fact01 printL">7. Serve food or beverages</span>
</li>
</ul>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
<tr>
<td height="10px"></td>
</tr>
</table>
</fieldset>
</td>
</tr>
<tr>
<td>
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL">Work Interest (Work Interests):
                        </span></legend>
<table width="100%" align="center">
<tr>
<td align="left">
<ul>
<li>
<span class="fact01 printL">Working outdoors with tools or objects</span>
</li>
<li>
<span class="fact01 printL">Operating motorized machines or equipment</span>
</li>
</ul>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
<tr>
<td>
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL">Career Interest (Career Interests):
                        </span></legend>
<table width="100%" align="center">
<tr>
<td align="left">
<ul>
<li>
<span class="fact01 printL">Construction</span>
</li>
<li>
<span class="fact01 printL">Farming, fishing, and hunting for commercial or community use</span>
</li>
<li>
<span class="fact01 printL">Logging</span>
</li>
</ul>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
<tr>
<td>
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL">Education (Highest Grade, Other Education, Training, Certificate):
                        </span></legend>
<table width="100%" align="center">
<tr>
<td align="left">
<ul>
<li>
<span class="fact01 printL">12 years of school</span>
</li>
<li>
<span class="fact01 printL">Training: </span>
</li>
<li>
<span class="fact01 printL">College Classes: </span>
</li>
<li>
<span class="fact01 printL">Job Readiness Programs: </span>
</li>
</ul>
</td><td width="15%"></td><td align="left">
<ul>
<li>
<span class="fact01 printL">Work Experience: </span>
</li>
<li>
<span class="fact01 printL">Military Service: </span>
</li>
<li>
<span class="fact01 printL">Other Training: </span>
</li>
</ul>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
<tr>
<td>
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL">Transportation (Driving License):
                        </span></legend>
<table width="100%" align="center">
<tr>
<td align="left">
<ul>
<li>
<span class="fact01 printL">Valid drivers license</span>
</li>
</ul>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
</table><table border="0" width="94%" cellspacing="0" cellpadding="0" align="center" style="margin-bottom:15px;">
<tr>
<td align="left" width="100%">
<fieldset class="borderStyle">
<legend><span class="textH201">Potential Barriers</span></legend>
<table width="100%" align="center" style="margin-bottom:20px;">
<tr>
<td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Demographics">Demographics</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Financial Management Issues</span>
</li>
</ul>
</fieldset>
</td><td width="10%"></td><td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Employment">Employment</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Never held a paying job</span>
</li>
</ul>
</fieldset>
</td>
</tr>
<tr>
<td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Education">Education</a></span></legend>
<ul>
<li>
<span class="fact01 printL">May lack English language proficiency</span>
</li>
</ul>
</fieldset>
</td><td width="10%"></td><td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Housing">Housing</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Unstable housing</span>
</li>
</ul>
</fieldset>
</td>
</tr>
<tr>
<td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Transportation">Transportation</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Transportation challenge</span>
</li>
</ul>
</fieldset>
</td><td width="10%"></td><td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#General Health">General Health</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Health challenge to work</span>
</li>
<li>
<span class="fact01 printL">Vaccinations not current</span>
</li>
</ul>
</fieldset>
</td>
</tr>
<tr>
<td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Mental Health">Mental Health</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Emotional health challenge</span>
</li>
<li>
<span class="fact01 printL">Mental health diagnosis or treatment</span>
</li>
</ul>
</fieldset>
</td><td width="10%"></td><td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Substance Abuse">Substance Abuse</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Participant does not want to answer questions regarding substance abuse</span>
</li>
</ul>
</fieldset>
</td>
</tr>
<tr>
<td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Domestic Violence-Safety">Domestic Violence-Safety</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Domestic violence-related conflicts</span>
</li>
<li>
<span class="fact01 printL">Safety concerns</span>
</li>
</ul>
</fieldset>
</td><td width="10%"></td><td width="40%">
<fieldset class="innerBorderStyle" style="margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01 printL"><a href="#Pregnancy">Pregnancy</a></span></legend>
<ul>
<li>
<span class="fact01 printL">Customer or household member may be pregnant</span>
</li>
</ul>
</fieldset>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
</table>


<head>
<meta content="no-cache" http-equiv="Pragma" />
<meta content="no-cache" http-equiv="Cache-Control" />
<meta content="no-store" http-equiv="Cache-Control" />
<meta content="max-age=0" http-equiv="Cache-Control" />
<meta content="1" http-equiv="Expires" />
<title>Barrier Details</title>
<script type="text/javascript" src="/owra/theme/com/sun/rave/web/ui/defaulttheme/javascript/formElements.js"></script>
<link rel="stylesheet" type="text/css" href="/owra/theme/com/sun/rave/web/ui/defaulttheme/css/css_master.css" />

<script type="text/javascript">
var sjwuic_ScrollCookie = new sjwuic_ScrollCookie('/pages/reportPrint/AssmtWorksheet.jsp', '/owra/faces/pages/reportPrint/AssmtWorksheet.jsp');
</script>
</head>








<table width="94%" align="center" style="margin-bottom:20px;" xmlns:ass="http://com.icfi.owra/Assessment">
<tr>
<td>
<fieldset class="borderStyle">
<legend><span class="textH201">Details</span></legend>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Demographics">Demographics</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Financial Management Issues</span></td><td align="center" valign="top">Demo</td><td align="left">If available, encourage participant to enroll in a Financial Management Workshop to assist their understanding of savings, debt, budgeting, credit scores, and other topics. Once enrolled, discuss lessons learned from the workshop with participant and steps they can take to improve their financial situation. Encourage participant to open a checking or savings account vs. high fee check cashing. Help participant create a budget.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in"></ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Employment">Employment</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>this is a test to verify if the note follow</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Never held a paying job</span></td><td align="center" valign="top">Currently Working</td><td align="left">If available, refer participant to job readiness training, workshops on job applications and resume assistance, and job leads. Encourage participant to conduct job searches and submit   applications/resumes weekly to obtain interviews and/or employment.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in"></ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Education">Education</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">May lack English language proficiency</span></td><td align="center" valign="top">English</td><td align="left">If available, offer a referral to English as a second language specialist or refer to local client special service coordinators for guidance and resources</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(English) Difficulty: Reading</li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Housing">Housing</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Unstable housing</span></td><td align="center" valign="top">Housing Situation</td><td align="left">If available, offer a referral to a local housing agency, family preservation, or shelter resources.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Housing Situation) Challenge explanation: overcrowding</li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Transportation">Transportation</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Transportation challenge</span></td><td align="center" valign="top">Transportation Challenge, Transportation Method</td><td align="left">Explore details of transportation barrier.  If available, provide monthly transportation stipend, transit/bus passes or tokens, and gas cards as appropriate.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Transportation Method) No access to reliable vehicle</li>
<li>(Transportation Method) Ride with someone</li>
<li>(Transportation Method) Walk</li>&#60;p&#62;&#38;nbsp&#59;&#60;&#47;p&#62;&#13;&#10;&#60;ul&#62;&#13;&#10;&#60;li&#62; &#60;&#47;li&#62;&#13;&#10;&#60;&#47;ul&#62;</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="General Health">General Health</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Health challenge to work</span></td><td align="center" valign="top">Current Health, General Health Indicator Question</td><td align="left">Provide participant with forms to substantiate medical condition.<br/><br/>If participant does not have Medicaid or health insurance, make a referral to local Medicaid Office.<br/><br/>If medical condition has lasted 12 or more months, refer participant to Office of Social Security Administration for disability assistance.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Current Health) Health challenge: </li>
<li>(Current Health) Customer stated health: Poor</li>
</ul>
</td>
</tr>
<tr valign="top">
<td align="left"><span class="finding01">Vaccinations not current</span></td><td align="center" valign="top">General Health Indicator Question</td><td align="left">Provide the participant with referrals to local medical facility, health department or free clinic for vaccinations.<br/><br/>If participant does not have Medicaid or health insurance, make a referral to the local Medicaid Office.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in"></ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Mental Health">Mental Health</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Emotional health challenge</span></td><td align="center" valign="top">Mental Health</td><td align="left">If available, refer participant to Mental Health Specialist.<br/><br/>If participant does not have Medicaid, refer to local Medicaid office.<br/><br/>Provide the participant with Physician's Statement.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Mental Health) Score: 29 out of 45</li>
<li>(Mental Health) Experienced or witnessed a violent event</li>
<li>(Mental Health) Thought of hurting self or others</li>
<li>(Mental Health) Trouble sleeping</li>
</ul>
</td>
</tr>
<tr valign="top">
<td align="left"><span class="finding01">Mental health diagnosis or treatment</span></td><td align="center" valign="top">Diagnosis</td><td align="left">Explore whether participant is on medication or other treatment.  If available, refer participant to Mental Health Specialist. If participant does not have Medicaid, refer to local Medicaid office.<br/><br/>Confirm a disorder to obtain appropriate health, mental health assistance, etc.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td>td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Diagnosis) Mental health condition</li>
<li>(Diagnosis) Attention deficit disorder</li>
<li>(Diagnosis) Seeking help for the condition(s)</li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Substance Abuse">Substance Abuse</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Participant does not want to answer questions regarding substance abuse</span></td><td align="center" valign="top">Alcohol and Drugs</td><td align="left"></td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in"></ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Domestic Violence-Safety">Domestic Violence-Safety</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Domestic violence-related conflicts</span></td><td align="center" valign="top">Domestic Violence - Safety Indicator Question, Perpetrator, Victim</td><td align="left">If available, refer participant to local domestic violence resources targeted to victims or perpetrators depending on participant responses.</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Perpetrator) f. Have you ever been in a relationship in which jealousy plays a major role?</li>
<li>(Domestic Violence - Safety Indicator Question) 3. Have you ever felt that your words or actions have ever caused your partner to feel afraid, unsafe or controlled?</li>
<li>(Domestic Violence - Safety Indicator Question) Have you witnessed as a child?</li>
<li>(Domestic Violence - Safety Indicator Question) Do you have a temper?</li>
<li>(Domestic Violence - Safety Indicator Question) Any restraining orders?</li>
<li>(Victim) Requests counseling or other services</li>
<li>(Perpetrator) Requests counseling or other services</li>
<li>(Domestic Violence - Safety Indicator Question) Has concern for their safety or safety of family</li>
</ul>
</td>
</tr>
<tr valign="top">
<td align="left"><span class="finding01">Safety concerns</span></td><td align="center" valign="top">Domestic Violence - Safety Indicator Question, Perpetrator</td><td align="left">Probe further for details that will inform the most appropriate referrals.  If available, offer a referral to family services, a mental health specialist, and/or a domestic violence specialist.<br/><br/>May offer temporary domestic violence exemption to work participation as appropriate.<br/><br/>May offer relocation or other safe housing assistance based on participant's needs as appropriate.<br/><br/>Assist client in developing safety plan. The National Domestic Violence Hotline, funded by the U.S. Department of Health and Human Services, Administration for Children and Families can help.<br/><a href='http://www.thehotline.org/help/path-to-safety/'>http://www.thehotline.org/help/path-to-safety/</a></td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Domestic Violence - Safety Indicator Question) Has concern for their safety or safety of family</li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Pregnancy">Pregnancy</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
<table width="98%" border="1" cellpadding="2" class="coll" style="margin-bottom:10px;" align="center">
<thead>
<tr valign="bottom" bgcolor="F0F8FF">
<th width="10%" align="center">Barriers</th><th width="5%" align="center">Ref</th><th width="29%" align="center">Recommended action</th><th width="10%" align="center">Activity codes</th><th width="10%" align="center">Hours per week</th><th width="8%" align="center">Plan Start</th><th width="8%" align="center">Plan End</th>
</tr>
</thead>
<tbody>
<tr valign="top">
<td align="left"><span class="finding01">Customer or household member may be pregnant</span></td><td align="center" valign="top">Pregnancy, Pregnancy Indicator Question</td><td align="left">Provide participant with Physician's Statement to verify pregnancy and expected due date.<br/><br/>Offer a referral to children's health program and WIC as appropriate<br/><br/>If participant does not have Medicaid or health insurance, make a referral to the local Medicaid Office</td><td align="center">
<br>__</td><td width="40" align="center">
<br>__</td><td width="50" align="center">
<br>__/__/__</td><td width="50" align="center">
<br>__/__/__</td>
</tr>
<tr valign="top">
<td align="left" colspan="2"></td><td align="left" colspan="5">Comments:
                                                        <ul syle="margin-bottom: 2.0in">
<li>(Pregnancy) Currently pregnant</li>
<li>(Pregnancy) Someone in household pregnant</li>
<li>(Pregnancy Indicator Question)  Someone pregnant with my child</li>
<li>(Pregnancy) Female partner or female(s) in household pregnant</li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Child Care and Parenting">Child Care and Parenting</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
                                        No barriers identified for this category
                                    </td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
<table width="100%" align="center" style="margin-bottom:10px;">
<tr>
<td align="center">
<fieldset class="innerBorderStyle" style="width:91%; margin-top:10px; margin-left:10px; margin-right:10px;">
<legend><span class="label01"><a name="Relationships">Relationships</a></span></legend>
<blockquote>
<table width="100%" cellpadding="2">
<tr>
<td align="left">
<ul>
<p>
<span class="label01">Notes: </span>None</p>
</ul>
</td>
</tr>
</table>
</blockquote>
<blockquote>
<table border="0" width="98%" align="center">
<tr>
<td>
                                        No barriers identified for this category
                                    </td>
</tr>
</table>
</blockquote>
</fieldset>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
</table>

<head>
<meta content="no-cache" http-equiv="Pragma" />
<meta content="no-cache" http-equiv="Cache-Control" />
<meta content="no-store" http-equiv="Cache-Control" />
<meta content="max-age=0" http-equiv="Cache-Control" />
<meta content="1" http-equiv="Expires" />
<title>Final Thoughts</title>
<script type="text/javascript" src="/owra/theme/com/sun/rave/web/ui/defaulttheme/javascript/formElements.js"></script>
<link rel="stylesheet" type="text/css" href="/owra/theme/com/sun/rave/web/ui/defaulttheme/css/css_master.css" />

<script type="text/javascript">
var sjwuic_ScrollCookie = new sjwuic_ScrollCookie('/pages/reportPrint/AssmtWorksheet.jsp', '/owra/faces/pages/reportPrint/AssmtWorksheet.jsp');
</script>
</head>








<blockquote xmlns:ass="http://com.icfi.owra/Assessment">
<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
<tr>
<td align="left">
<fieldset class="borderStyle">
<span class="textH201"><legend>Final Thoughts</legend></span>
<table border="0" width="100%" cellpadding="0" cellspacing="0" style="margin-bottom:30px;">
<tr>
<td>
<table border="0" width="100%" cellpadding="2">
<thead>
<tr valign="top" style="background-color:#FFFFFF;">
<th width="5%" align="left">Explanation:</th><td width="95%" align="left" valign="top"></td>
</tr>
</thead>
</table>
</td>
</tr>
</table>
</fieldset>
</td>
</tr>
</table>
</blockquote>



<input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="5973992143480365015:-780769220121833149" autocomplete="off" />
</form></html>
