    <div class="row">
      <div class="large-4 columns">
    <ul>
      <li>
        <%= arg_object.label :title %>
        <%= arg_object.text_field :title, maxlength: "35",autofocus: true %>
      </li>
      <li>
        <%= arg_object.label :description %>
        <%= arg_object.text_area :description , maxlength: "250"%>
        </li>
     </ul>

  </div>
  </div>

