<!-- <body onload = "prescreen_assessment_scripts()">

	<%# @assessment_questions.each do |arg_qstn|%>
		<li>
			<%= display_assessment_question_control_for_pre_screening(arg_qstn.id,@prescreen_household_id).html_safe %>
		</li>
	<%# end %>
</body> -->