<!-- <%#= form_for @provider_service_authorization, url: generate_provider_invoice_path(@provider_service_authorization.id), method: :get do |f| %>
<b> Submitted Service Plan Line Item(s)</b>
		<p></p>
		<table>
			  <thead>
			    <tr>
			    	<th> Select </th>
					<th> Service Date </th>
					<th> Actual Cost</th>
					<th> Provider submitted Invoice</th>


					<th> Action </th>
				</tr>
			  </thead>
			    <tbody>
					<%# @service_authorization_line_items_submitted.each do |arg_line_item| %>

						<tr>
							<td>  <%#= check_box_tag "lineitem_ids[]", arg_line_item.id %></td>
							<td>  <%#= format_db_date(arg_line_item.service_date)%></td>

							<td>  <%#= number_to_currency_br(arg_line_item.actual_cost) %></td>
							<td>  <%#= arg_line_item.provider_invoice %></td>


							<td>
							 <%#= link_to "Show",service_authorization_line_item_show_path(@provider_service_authorization.id,arg_line_item.id),id: "hyperlink" %>
							</td>
						</tr>
						<%#end%>

				</tbody>
			</table>
		<%#= link_to "Back ",non_transport_service_authorization_line_items_index_path, class: "secondary button radius" %>
		<%#= f.submit "Approve", class: 'button radius' %>
		<%#= f.submit "Reject", class: 'button radius' %>
<%#end%> -->