<fieldset>
<section class="solidbody">
			<legend><%= set_subheader("Application screening results for : #{client_full_name(@client)}") %></legend>
			<%= render '/application_screenings/selected_application_details',arg_selected_application: @selected_application %>
			<%= render '/application_screenings/application_screening_results', arg_family_type: @family_type_struct,arg_app_rslts: @app_elig_rslts, arg_case_type: @case_type%>

			<%= link_to "Back",view_screening_summary_path, class: 'button radius secondary' %>
</section>
</fieldset>