<!-- Not used -->

		<!-- 	<li class="required">
			 	<%#= f.label :employer_id %>
			 	<%#= f.select :employer_id, @employer_list.collect { |p| ["#{p.employer_name} ", p.id ] },{ :include_blank => 'Select an Employer Name' }%>
			 	 <%#= link_to 'Add Employer',  "#",class: "button radius" %>
			</li>
			<! <li>
			 	<%#= f.label :employment_level %>
			 	<%#= f.select :employment_level, CodetableItem.item_list(29,"Employment Type").collect { |p| ["#{p.short_description} ", p.id ] },{ :include_blank => 'Select an employment type' }%>
			</li> -->

			<!-- <li>
			 	<%#= f.label :placement_ind %>
			 	<%#= f.select :placement_ind, CodetableItem.item_list(30,"Placement Indicator").collect { |p| ["#{p.short_description} ", p.id ] },{ :include_blank => 'Select placement Indicator' } %>
			</li> -->

	      <!-- <li class="required"> -->
			 	<%#= f.label :employment_effective_begin_date, "Employment Begin Date" %>
				<%#= f.date_field :employment_effective_begin_date, alt: "employment begin date", onkeyup:"validate_date_format(event)"  %>
			<!-- </li>


			<li >
			 	<%#= f.label :position_title %>
			 	<%#= f.text_field :position_title, maxlength: "35" %>
			</li>

			<li >
			 	<%#= f.label :occupation_code%>
			 	<%#= f.text_field :occupation_code, maxlength: "11" %>
			</li>

			<li>
			 	<%#= f.label :health_ins_covered%>
			 	<%#= f.select :health_ins_covered, CodetableItem.item_list(31,"Health Coverage").collect { |p| ["#{p.short_description} ", p.id ] },{ :include_blank => 'Select health coverage' }  %>
			</li>

			<li >
			 	<%#= f.label :duties %>
			 	<%#= f.text_area :duties, maxlength: "4000", cols:40, rows:70 %>
			</li>


			<li>
			 	<%#= f.label :employment_effective_end_date, "Employment End Date" %>

				<%#= f.date_field :employment_effective_end_date, alt: "employment end date", onkeyup:"validate_date_format(event)"  %>

			</li>

			<li>
			 	<%#= f.label :leave_reason%>
			 	<%#= f.select :leave_reason, CodetableItem.item_list(25,"Reason for Leaving").collect { |p| ["#{p.short_description} ", p.id ] }, { :include_blank => 'Select reason for leaving' } %>
			</li> -->


