<% if object_argument.present?%>
  <div id="error_explanation">


    <h6 class="fi-alert subheader" id="alert-text-center">Please correct the following error</h6>

      <li><%= object_argument %></li>


  </div>
  <% end %>
