<!-- <fieldset>
	<section class="solidbody">
		<legend><%#= set_subheader("Register Household") %></legend>
		<h5 class="subheader"> Is this member Head of household?</h5>
		<p></p>

		 	<%#= link_to "Yes",new_household_wizard_initialize_path,class: 'button radius'%>
	 	    <%#= link_to "No",new_focus_client_search_path,class: 'button radius'%>
	</section>
</fieldset> -->