<!-- search results with NO data-->
<section class="solidbody">
    <% if @clients.blank? %>
                <caption><%= set_subheader("Search results") %></caption>
				 <legend><h5 class="subheader">No clients found with the search criteria, enter a new search criteria or register client and new household by clicking Begin Intake button.</h5><br>
                <br>
                <% if @show_new_button %>
                   <%= link_to 'New Search',new_focus_client_search_path, class: "button radius"%>
                   <%= link_to 'Begin Intake',new_household_wizard_initialize_path, class: "button radius"%>
                <% end %>
    <% end %>
</section>
