<!-- Manoj 10/16/2014 this object is not used -->
<!--
 <li class="required">
  <%#= arg_object.label :processing_location,"Processing Office" %>
  <%#= arg_object.select :processing_location, CodetableItem.item_list(2,"DWS Office List").collect { |p| ["#{p.short_description} ", p.id ] },{ :include_blank => 'Select Processing Office' } %>
</li>

<li class="required">
  <%#= arg_object.label :disposition_status, "Action" %>
  <%#= arg_object.select :disposition_status, CodetableItem.items_to_exclude(132,6043,"Program Unit Disposition Status List").collect { |p| ["#{p.short_description} ", p.id ] },{ :include_blank => 'Select Action' } %>
</li>

<li >
  <%#= arg_object.label :disposition_reason, "Denial Reason" %>
  <%#= arg_object.select :disposition_reason, CodetableItem.item_list(66,"Denial Reasons List").collect { |p| ["#{p.short_description} ", p.id ] },{ :include_blank => 'Select Denial Reason' } %>
</li>
-->

