<!--Manoj Patil 10/16/2014  -->
<!-- Last step - Program Unit Processing center -->
 	<p>
 		<%= render 'program_units/program_unit_review_without_screening_result',arg_pgu:@program_unit,arg_selected_pgu:@selected_program_unit,arg_pgu_participation:@program_participations,arg_pgu_members:@program_unit_members, arg_client_relation:@client_relationships,arg_clients: @data_validation_results,arg_client_doc_list:@client_doc_verification_list %>

 	</p>
 	<!-- Application screening Results -->
 	<p>
 		<b> Program Unit Processing Results </b>
 		<!--<%#= render 'program_unit_seventh_step' %>-->
 		<%= render 'program_unit_screening_in_last_step',arg_family_type:@family_type_struct,arg_case_type:@case_type,arg_app_elig_rslt:@app_elig_rslts,@selected_program_unit,arg_selected_pgu:@selected_program_unit %>


 	</p>
