<!--
<li class="required">
 	<%#= arg_object.label :assessment_date %>
 	<%#= arg_object.date_field :assessment_date,autofocus: true, onkeyup:"validate_date_format(event)" %>
</li>

<li >
 	<%#= arg_object.label :comments %>
   <%#= arg_object.text_area :comments, cols:40, rows:70 %>
</li>
-->