<!-- <fieldset>
	 <section class="solidbody">
<%#= form_for(@employment_detail, :url => update_household_member_employment_detail_path(@household_member.id,@employment.id,@employment_detail.id), method: :put) do |f| %>
		<legend><%#= set_subheader("Edit employment detail at employer: #{@employment.employer_name} for household member: #{client_full_name(@client)}") %> </legend>
       <%#= render "shared/common_error", object_argument: @employment_detail %><br>
       <%#= render 'employment_details/selected_employer' %>
        <ul>
	     	<div class="row">
	          <div class="large-4 columns">
	               <%#= render 'employment_details/form',f: f %>
		 	  </div>
		    </div>
		</ul>
	    <p>
 			 <%#= link_to 'Back', show_household_member_employment_detail_path(@client.id,@employment.id,@employment_detail.id),class: " secondary button radius" %>
       		<%#= f.submit "Save",class: "button radius" %>
	    </p>
<%# end %>
   </section>
    </fieldset> -->