<!--
<%#= form_for(@employment_detail,:url => create_household_member_employment_detail_path(@client.id,@employment.id), method: :post) do |f| %>
  <section class="solidbody">
  	<fieldset>
        <legend><%#= set_subheader("Enter employment detail at employer #{@employer_name} for household member: #{client_full_name(@client)}") %> </legend>
       <%#= render "shared/common_error", object_argument: @employment_detail %><br>
       <%#= render 'employment_details/selected_employer' %>
        <ul>
	     	<div class="row">
	          <div class="large-4 columns">
	               <%#= render 'employment_details/form',f: f %>
		 	  </div>
		    </div>
		</ul>
	    <p>
 			 <%#= link_to 'Back',household_member_employment_detail_index_path(@client.id,@employment.id),class: " secondary button radius" %>
       		<%#= f.submit "Save",class: "button radius" %>
	    </p>
   </fieldset>
  </section>
<%# end %>







 -->