
<!-- <p>
	<%#= render('business_alerts_list_for_logged_in_user') %>
</p> -->

<p>
	<%= render'business_alerts_list_for_logged_in_user_information_only', arg_object: @business_alerts_information_only%>
</p>

<p>
	<%= render'general_information_alerts_list', arg_object: @general_information_alerts %>
</p>









