<table>
	<thead>
	    <tr>
			<th> Type </th>
			<th> Description </th>
			<th> Status </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>  <%= drop_down_value_description(@action_plan_detail.entity_type) %> </td>
			<td>  <%= drop_down_value_description(@action_plan_detail.activity_type) %> </td>
			<td>  <%= drop_down_value_description(@action_plan_detail.activity_status) %> </td>
		</tr>
	</tbody>
</table>



