<!--<fieldset>
<section class="solidbody">
  <%#= render 'selected_provider_service_type',arg_object: @providerservice %>
 <legend>
  <%#= set_subheader("Service area details") %>
    </legend>

  <p>
    <b>Zip Code: </b>
    <%= @provider_service_area.area_zip %>
  </p>


    <%#= link_to 'Back', provider_service_areas_path(@providerservice.id),class: "secondary button radius" %>
    <%#= link_to 'Edit', edit_provider_service_area_path(@provider_service_area.id),class: "button radius" %>
    <%#= link_to 'Delete',"#", method: :delete, data: { confirm: 'Are you sure?' },class: "button alert radius" %>

</section>
</fieldset>-->