<!--<fieldset>
<section class="solidbody">
	<%#= render 'selected_provider_service_type',arg_object: @providerservice %>
<legend><%#= set_subheader("Enter service areas for: #{provider_name(@provider)}") %> </legend>
<%#= form_for @provider_service_area, :url => update_provider_service_area_path, :method => :patch do |f| %>
  <%#= render "shared/common_error", object_argument: @provider_service_area %>
	<%#= render 'form_provider_service_area',arg_object: f %>
 	<%#= link_to 'Cancel', provider_service_areas_path(@providerservice.id),class: "secondary button radius" %>
 	<%#= f.submit "Save", class: 'button radius'%>
<%# end %>
</section>
</fieldset>-->