<!--This object's code moved to last step Manoj Patil 10/16/2014  -->
<!-- Resource Review -->
<!--
<p>
<b> Selected Benefit Members</b>
<%#= render 'selected_program_benefit_members', arg_collection: @program_benefit_members %>
</p>
<p>
	<b>Resource details for selected Benefit Members</b>
	<%# if @benefit_members_resources.present?%>

		<%#= render 'review_resource_details_for_benefit_members',arg_collection: @benefit_members_resources %>
	<%# else %>
		<label> No Resource details found for Benefit Members in the Run Month</label>
	<%# end %>
</p>
-->