
		<% if arg_sections.present? %>
			<p>
				<b>Potential Barriers </b>
				<table>
				    <% arg_sections.each do |each_section| %>
					     <tr>
							<td> <b><%= each_section.title %></b> </td>
						 </tr>
						 <tr>
						 	<td>
						 		<table>
						 			<% arg_barriers.each do |each_barrier|%>
						 				<% if each_barrier.assessment_section_id == each_section.id %>
							 			<tr>
							 				<td><%= get_barrier_description(each_barrier.barrier_id)%></td>
							 				<td>
						 						<%= "Barrier addressed in the career plan: #{get_barrier_addressed_information_in_pending_cpp(arg_client_id,arg_plan_id,each_barrier.barrier_id)}"%>
							 				</td>
							 			</tr>
							 			<% end %>
						 			<% end %>
						 		</table>

						 	</td>
						 </tr>
					<% end %>

				</table>
			</p>

		<% end %>
