<!--Not Used
	<b> Planned Work participation hours</b>
		<p>
			<table>
				 <thead>
				    <tr>

						<th> Core Activities (Hours/Week)</th>
						<th> Non Core Activities (Hours/Week) </th>
						<th> Total (Hours/Week) </th>

					</tr>
				  </thead>
				    <tbody>
						<tr>

							<td> <%#= @planned_core_activity_hours %></td>
							<td> <%#=  @planned_non_core_activity_hours %></td>
							<td> <%#= @planned_total_activity_hours %></td>


						</tr>
					</tbody>

			</table>
		</p>
 -->

