<!-- <fieldset>
  <section class="solidbody">
		<%#= form_for(@employment, :url => update_household_member_employment_path(@household_member.id,@employment.id), method: :put) do |f| %>
			<legend><%#= set_subheader("Edit employment at #{@employment.employer_name} information for: #{client_full_name(@client)}")  %> </legend>
	       <%#= render "shared/common_error", object_argument: @employment %><br>
	        <ul>
		     	<div class="row">
		          <div class="large-5 columns">
		               <%#= render 'employments/form',f: f %>
			 	  </div>
			    </div>
			</ul>
		    <p>
	 			<%#= link_to 'Back', show_household_member_employment_path(@household_member.id,@employment.id),class: "secondary button radius" %>
			    <%#= f.submit "Save", class: 'button radius' %>
		    </p>
		<%# end %>
    </section>
</fieldset> -->