<!-- <fieldset>
  <section class="solidbody">
	<%#= form_for(@employment, :url => create_household_member_employment_path(@household_member.id), method: :post) do |f| %>
		 <legend><%#= set_subheader("Enter new employment information for household member: #{client_full_name(@client)}") %> </legend>
	       <%#= render "shared/common_error", object_argument: @employment %><br>
	        <ul>
		     	<div class="row">
		          <div class="large-5 columns">
		               <%#= render 'employments/form',f: f %>
			 	  </div>
			    </div>
			</ul>
		    <p>
	 			<%#= link_to 'Back', start_household_member_registration_wizard_path,class: "secondary button radius" %>
			    <%#= f.submit "Save", class: 'button radius' %>
		    </p>
	<% #end %>
  </section>
</fieldset>


 -->