<!-- <fieldset>
	<section class="solidbody">
		 <legend><%#= set_subheader("Employment at #{@employment.employer_name} information for household member: #{client_full_name(@client)}") %> </legend>
	<%#= render 'employments/show_employment'%>
	<%#= link_to 'Back',start_household_member_registration_wizard_path,class: "secondary button radius" %>
		<%#= link_to 'Edit', edit_household_member_employment_path(@household_member.id,@employment.id),class: "button radius" %>
		<%#= link_to 'Delete', delete_household_member_employment_path(@household_member.id,@employment.id), method: :delete, data: { confirm: 'Are you sure?' },class: "button alert radius" %>
	</section>
</fieldset> -->