<section class="solidbody">

	<caption><%= set_subheader("Search results") %></caption>
	<legend><h5 class="subheader">No school record found with the search criteria, enter a new search or register school.</h5><br>
    <br>
	<% if @show_new_button %>
		<%= link_to 'New Search',schools_search_path, class: "button radius"%>
				<%= link_to 'Register New school',new_school_path, class: "button radius"%>
	<% end %>
</section>