
     <ul>
        <div class="row">
            <div class="large-4 columns">

        <%= arg_object.label :name %>
        <%= arg_object.text_field :name,maxlength: "50",  autofocus: true %>
        <%= arg_object.label :description %>
        <%= arg_object.text_area :description, maxlength: "255" %>
     </div>
     </div>
   </ul>


