<!--
<td >
  <label>
  <%= system_param_value_description(arg_object2.vaccine_type) %>
  </label>

</td>
<td>  <%= format_db_date(arg_object2.date_required)  %></td>

<td>
  <%= arg_object.number_field :provider_id, title1: "The provider is the party giving the services needed.", data: {tooltip1: '' }%>
</td>



<td >
  <%= arg_object.date_field :date_administered, alt: "date_administered",title1: "Select Date Administered.", data: {tooltip1: '' }, onkeyup:"validate_date_format(event)"  %>
</td>

-->