<p>
<table>
	<caption style="text-align:inherit"><b>Information Required</b><p></p></caption>
  <thead>
    <tr>
		<th> Name </th>
		<th> Verification Item </th>
		<th> Result </th>
		<th> Action </th>


	</tr>
  </thead>
    <tbody>
		<% arg_clients.each do |client| %>
			<tr>
				<td>  <%=  get_client_full_name(client.client_id) %> </td>
				<td>  <%=  CodetableItem.get_short_description(client.data_item_type) %> </td>
				<td>
					<%= get_application_validation_result(client.result).html_safe()%>
				</td>

				<td>
						<% unless client.result%>
							<%= link_to 'Fix Data', application_data_validation_correction_link_path(arg_application_id,client.client_id,client.data_item_type,arg_navigate) ,id: "hyperlink" %>
						<% end %>
				</td>

			</tr>
		 <% end %>
	</tbody>
</table>
</p>