 <div class="row" id="body">
              <div class="large-12 columns">
              	<%= render "layouts/flash_messages" %>
                <%= yield %>
              </div>
            </div>