<div class="row" id="body" >
    <div class="large-9 large-offset-2 columns">
      <div id="error_explanation">

        <ul>
        	<h6 class="fi-alert subheader" id="alert-text-center">Role has not been asssigned to you for this application. Please contact your supervisor or manager. Click on Signout to go back to the dashboard.</h6>
        </ul>
      </div>
    </div>
</div>