<!-- NOT USED -->

<%#= render 'selected_household_partial' %>

<!--
<p></p>

<b>Household Member: <%#= "#{client_full_name(@client)}" %></b>
<p></p>

<%# if @client.ethnicity.present? || @client.race_ids.count > 0 %>


              <p>
                <b>Hispanic or Latin-American Origin: </b>
                <%#=  get_flag_description(@client.ethnicity) %>
              </p>
               <p>
                <b>Race: </b>
                <%#= @selected_races %>
              </p>
             <%#= render "notes/notes_field_show", arg_notes: @notes %>



     <p>
        <%#= link_to 'Edit', new_household_member_race_path(@household_member.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'),class: "button radius"%>
    </p>
  <%#else%>
        <fieldset>

              <h5 class="subheader">No race-ethnicity information found. Do you want to add race-ethnicity information?</h5>
              <p></p>
            <fieldset class="radio">
                <div class="button-group">
                  <label class="radio_button_bigger_text" for="member_ethnicity_add_flag_y"><%#= arg_object.radio_button :member_ethnicity_add_flag, "Y"%>Yes</label>
                  <label class="radio_button_bigger_text" for="member_ethnicity_add_flag_n"><%#= arg_object.radio_button :member_ethnicity_add_flag, "N"%>No</label>
                   <label class="radio_button_bigger_text" for="member_ethnicity_add_flag_s"><%#= arg_object.radio_button :member_ethnicity_add_flag, "S"%>Skip for now</label>
                </div>
            </fieldset>

              <p></p>
              <%#= link_to 'New',new_household_member_race_path(@household_member.id,'HOUSEHOLD_MEMBER_STEP_WIZARD'), class: "button radius"%>
        </fieldset>
  <%#end%>




-->