<!-- Not Used

<td><%#=   "#{drop_down_value_description(arg_object2.question_id)} " %></td>
<td><%#= arg_object.check_box :answer_flag %></td>



    <%#= arg_object.hidden_field :id %>
     <%#= arg_object.hidden_field :question_id %>

     -->