<!-- NOT USED

<fieldset>
  <section class="solidbody">

      <%#if @client.present? %>
          <%#= form_for @address, url: update_living_arrangement_household_member_path(@household_member.id), method: :put do |f| %>
              <%#= render "shared/common_error", object_argument: @addresses_error_messages %>
              <%#= render 'addresses/form_living_arrangement',arg_object: f %>
               <p>
                  <%#= link_to 'Back', start_household_member_registration_wizard_path, class: "secondary button radius" %>
                  <%#= f.submit "Save", class: 'button radius' %>
              </p>
          <%# end %>
      <%# end %>
  </section>
</fieldset>


-->
