<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Household relations") %></legend>
		<h5 class="subheader"> Minimum Two Household members should be there to set up relationship.</h5>
		<p></p>

		 	<%= link_to "Household Composition",household_index_path,class: 'button radius'%>

	</section>
</fieldset>