<fieldset>
	<section class="solidbody">
		<legend><%= set_subheader("Household Relations") %></legend>
		<h5 class="subheader"> Household composition is not completed</h5>
		<p></p>

		 	<%= link_to "Household Composition",household_index_path,class: 'button radius'%>

	</section>
</fieldset>