<!-- NOT USED
<fieldset>
<section class="solidbody">
	<legend><%#= set_subheader("Household Member Relations") %></legend>
	<%#= render 'selected_household_partial' %>
	<%#= render "shared/common_error", object_argument: @household %>


	    <ul>
	       	<div class="row">
				<div class="large-12 columns">
                   <%#= render 'household_member_relations_step' %>
                </div>
            </div>
	    </ul>

	    <div>
      		<%#= link_to 'Back', household_index_path ,class: "secondary button radius" %>
      		<%#= link_to 'Next',next_step_after_household_relations_path(@household.id) ,class: "button radius" %>
    	</div>
</section>
</fieldset>


-->
